include/OTHER/Node-Red MM Flows 12_28_2020/DBase Examples 3.json
[{"id":"c9d697ae.1c9208","type":"tab","label":"Dbase examples 3","disabled":false,"info":""},{"id":"7ad8175a.0ca888","type":"ui_template","z":"c9d697ae.1c9208","group":"b0ec54e8.db7ca","name":"UI Table JSON","order":1,"width":"","height":"","format":"<style>\n.table\n{\n    height:400px;\n    width:700px;\n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SENSOR</th>\n    <th>RAW DATA (JSON)</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SENSOR}}</td>\n    <td>{{msg.payload[$index].RAW_DATA}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":60,"wires":[[]]},{"id":"41e5bf8d.ed803","type":"inject","z":"c9d697ae.1c9208","name":"Test Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["9834ba9d.642038"]]},{"id":"9834ba9d.642038","type":"function","z":"c9d697ae.1c9208","name":"test data","func":"var count=context.get('count');\nvar timestamp=context.get('timestamp');\n\nif (count===undefined)\n{\n    count=1;\n    timestamp=1;\n}\nvar data1={\"sensor\":\"sensor1\",\"temperature\":21,\"humidity\":61};\nvar data2={\"sensor\":\"sensor2\",\"temperature\":22,\"humidity\":62};\nvar data3={\"sensor\":\"sensor3\",\"temperature\":23,\"humidity\":63};\nif (count%20===0)\n    count=-count;\ndata1.temperature+=(count*0.25);\n//data2.temperature+=(count*0.5);\n//data3.temperature+=(count*0.75);\ndata1.humidity+=(count*0.25);\n//data2.humidity+=(count*0.5);\n//data3.humidity+=(count*0.75);\nmsg.payload=[data1];\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\ndata1.timestamp=timestamp;\ntimestamp+=1;\ndata2.timestamp=timestamp;\ntimestamp+=1;\ndata3.timestamp=timestamp;\n\nmsg1.payload=JSON.stringify(data1);\nmsg2.payload=JSON.stringify(data2);\nmsg3.payload=JSON.stringify(data3);\ntimestamp+=1;\ncount+=1;\ncontext.set('count',count);\ncontext.set('timestamp',timestamp);\nreturn [[msg1,msg2,msg3]];","outputs":1,"noerr":0,"x":240,"y":500,"wires":[["88ceca53.63f698","9ddf405b.a91d1"]]},{"id":"9ddf405b.a91d1","type":"function","z":"c9d697ae.1c9208","name":"write query","func":"var raw_data=msg.payload;\nvar temp=JSON.parse(msg.payload);\nvar timestamp=temp.timestamp;\nvar sensor=temp.sensor;\nmsg=\"(timestamp,sensor,raw_data) values(\"+timestamp +\",\\'\"+sensor +\"\\'\"+ \",\\'\"+raw_data+\"\\'\"  +\")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["b5839e64.4861f8","a46e2bdf.573a58"]]},{"id":"b5839e64.4861f8","type":"debug","z":"c9d697ae.1c9208","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":340,"wires":[]},{"id":"88ceca53.63f698","type":"debug","z":"c9d697ae.1c9208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":520,"wires":[]},{"id":"a46e2bdf.573a58","type":"delay","z":"c9d697ae.1c9208","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":300,"wires":[["b101d0a5.8f77b"]]},{"id":"b101d0a5.8f77b","type":"sqlite","z":"c9d697ae.1c9208","mydb":"8deb9839.013ce","sqlquery":"msg.topic","sql":"","name":"test.db","x":490,"y":200,"wires":[[]]},{"id":"3a080c2c.fe067c","type":"inject","z":"c9d697ae.1c9208","name":"show RECORDS","topic":"SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":230,"y":80,"wires":[["c08d009f.e178b"]]},{"id":"c08d009f.e178b","type":"sqlite","z":"c9d697ae.1c9208","mydb":"8deb9839.013ce","sqlquery":"msg.topic","sql":"","name":"","x":490,"y":60,"wires":[["7ad8175a.0ca888"]]},{"id":"72fc3a45.dda7d4","type":"inject","z":"c9d697ae.1c9208","name":"create database table","topic":"CREATE TABLE data(TIMESTAMP INT PRIMARY KEY NOT NULL, SENSOR TEXT NOT NULL,TEMP INT ,RAW_DATA TEXT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":140,"wires":[["b101d0a5.8f77b"]]},{"id":"66e261f5.028e6","type":"inject","z":"c9d697ae.1c9208","name":"delete records","topic":"DELETE FROM DATA WHERE TIMESTAMP>=0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":180,"wires":[["b101d0a5.8f77b"]]},{"id":"d5e754e9.3c23c","type":"inject","z":"c9d697ae.1c9208","name":"Drop Table","topic":"drop table data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":240,"wires":[["b101d0a5.8f77b"]]},{"id":"b0ec54e8.db7ca","type":"ui_group","z":"","name":"Sensors","tab":"65b8595b.1f6e2","order":1,"disp":true,"width":"14","collapse":false},{"id":"8deb9839.013ce","type":"sqlitedb","z":"","db":"/home/sam/PlatformIO/dbExamples/test.db","mode":"RWC"},{"id":"65b8595b.1f6e2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]