include/OTHER/Node-Red MM Flows 12_28_2020/DBase Examples 1.json
[{"id":"dddece5a.9f1598","type":"tab","label":"Dbase examples 1","disabled":false,"info":""},{"id":"b70e9859.0c89f8","type":"inject","z":"dddece5a.9f1598","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":100,"wires":[["7d982ac9.e9695c"]]},{"id":"7d982ac9.e9695c","type":"function","z":"dddece5a.9f1598","name":"INSERT Bind","func":"msg.topic = \"INSERT INTO test (id,text) VALUES (?,?)\";\nmsg.payload = [2, \"This is a funny world's end\"];\nreturn msg;","outputs":1,"x":325,"y":101,"wires":[["9f4c6529.d9107"]]},{"id":"9f4c6529.d9107","type":"sqlite","z":"dddece5a.9f1598","mydb":"8949c8bc.3493a","sql":"","name":"Test DB","x":643,"y":132,"wires":[["7f6d69b9.8f0208"]]},{"id":"7f6d69b9.8f0208","type":"debug","z":"dddece5a.9f1598","name":"","active":true,"console":"false","complete":"false","x":731,"y":232,"wires":[]},{"id":"4b74cbd7.5c6a1c","type":"inject","z":"dddece5a.9f1598","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":152,"wires":[["b6308dc1.bd4a08"]]},{"id":"b6308dc1.bd4a08","type":"function","z":"dddece5a.9f1598","name":"INSERT Old","func":"msg.topic = \"INSERT INTO test (id,text) VALUES (3,'Directly in topic')\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":156,"wires":[["9f4c6529.d9107"]]},{"id":"51aadee4.d864e8","type":"inject","z":"dddece5a.9f1598","name":"Go","topic":"","payload":"funny","payloadType":"string","repeat":"","crontab":"","once":false,"x":147,"y":316,"wires":[["fa453fbb.c57ea8"]]},{"id":"fa453fbb.c57ea8","type":"function","z":"dddece5a.9f1598","name":"SELECT Old","func":"msg.topic = \"SELECT * FROM test WHERE text LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"x":374,"y":319,"wires":[["9f4c6529.d9107"]]},{"id":"38456b6a.fe235c","type":"inject","z":"dddece5a.9f1598","name":"INSERT Bind - via JSON","topic":"INSERT INTO test (id,text) VALUES (?, ?)","payload":"[4, \"This is a funny world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"x":149,"y":217,"wires":[["d4d6ea65.c79e"]]},{"id":"d4d6ea65.c79e","type":"json","z":"dddece5a.9f1598","name":"","property":"payload","action":"","pretty":false,"x":349,"y":217,"wires":[["9f4c6529.d9107"]]},{"id":"f2944eaf.ea0a2","type":"inject","z":"dddece5a.9f1598","name":"Go \"funny\"","topic":"","payload":"%funny%","payloadType":"string","repeat":"","crontab":"","once":false,"x":143,"y":370,"wires":[["c980e00d.5dc65"]]},{"id":"c980e00d.5dc65","type":"function","z":"dddece5a.9f1598","name":"SELECT Bind","func":"msg.topic = \"SELECT * FROM test WHERE text LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"x":370,"y":373,"wires":[["9f4c6529.d9107"]]},{"id":"f1f38a59.2ab338","type":"inject","z":"dddece5a.9f1598","name":"Go \"world's\"","topic":"","payload":"%world's%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":147,"y":432,"wires":[["c980e00d.5dc65"]]},{"id":"8949c8bc.3493a","type":"sqlitedb","db":"test.sqlite"}]