include/OTHER/Node-Red MM Flows 12_28_2020/DBase Examples 2.json
[{"id":"d4c793e6.9fc878","type":"tab","label":"Dbase examples 2","disabled":false,"info":""},{"id":"b4d74647.1d4b68","type":"inject","z":"d4c793e6.9fc878","name":"create database table","topic":"CREATE TABLE data(TIMESTAMP INT PRIMARY KEY NOT NULL, SENSOR TEXT NOT NULL, TEMPERATURE INT NOT NULL, HUMIDITY INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":80,"wires":[["930eca7.6cbf3b8"]]},{"id":"91bf64e0.b8fce","type":"debug","z":"d4c793e6.9fc878","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":300,"wires":[]},{"id":"bb032ab4.e3705","type":"inject","z":"d4c793e6.9fc878","name":"insert data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":400,"wires":[["c6a833e6.b86588"]]},{"id":"bb473f80.72bdc","type":"function","z":"d4c793e6.9fc878","name":"Insert","func":"var newMsg = {\n \"topic\": \"INSERT INTO data ( timestamp,sensor,temperature,humidity) values(0,'sensor',20,66)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["930eca7.6cbf3b8","59694bd5.058914"]]},{"id":"19665ebd.4e0249","type":"inject","z":"d4c793e6.9fc878","name":"delete records","topic":"DELETE FROM DATA WHERE TIMESTAMP>=0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":120,"wires":[["930eca7.6cbf3b8"]]},{"id":"1e13ca7f.c06286","type":"inject","z":"d4c793e6.9fc878","name":"show RECORDS","topic":"SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":170,"y":20,"wires":[["8e83e179.052dc"]]},{"id":"66810312.063054","type":"ui_template","z":"d4c793e6.9fc878","group":"e9a7eebb.9bb22","name":"UI Table","order":1,"width":"","height":"","format":"<style>\n.table\n{\n    height:400px;\n    width:550px;\n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SENSOR</th>\n    <th>TEMPERATURE</th> \n    <th>HUMIDITY</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SENSOR}}</td>\n    <td>{{msg.payload[$index].TEMPERATURE}}</td> \n    <td>{{msg.payload[$index].HUMIDITY}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":20,"wires":[[]]},{"id":"930eca7.6cbf3b8","type":"sqlite","z":"d4c793e6.9fc878","mydb":"45b50000.4b0b6","sqlquery":"msg.topic","sql":"","name":"","x":410,"y":240,"wires":[["91bf64e0.b8fce"]]},{"id":"28e303f6.fd8dcc","type":"inject","z":"d4c793e6.9fc878","name":"Test Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["ccaed907.1e5868"]]},{"id":"ccaed907.1e5868","type":"function","z":"d4c793e6.9fc878","name":"test data","func":"var count=context.get('count');\nvar timestamp=context.get('timestamp');\n\nif (count==undefined)\n{\n    count=1;\n    timestamp=1;\n}\nvar data1={\"sensor\":\"sensor1\",\"temperature\":21,\"humidity\":61};\n//var data2={\"sensor\":\"sensor2\",\"temperature\":22,\"humidity\":62};\n//var data3={\"sensor\":\"sensor3\",\"temperature\":23,\"humidity\":63};\nif (count%20==0)\n    count=-count;\ndata1.temperature+=(count*.25);\n//data2.temperature+=(count*.5);\n//data3.temperature+=(count*.75);\ndata1.humidity+=(count*.25);\n//data2.humidity+=(count*.5);\n//data3.humidity+=(count*.75);\nmsg.payload=[data1];\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\ndata1.timestamp=timestamp;\n//timestamp+=1;\n//data2.timestamp=timestamp;\n//timestamp+=1;\n//data3.timestamp=timestamp;\n\nmsg1.payload=data1;\n//msg2.payload=data2;\n//msg3.payload=data3;\ntimestamp+=1;\ncount+=1;\ncontext.set('count',count);\ncontext.set('timestamp',timestamp);\nreturn msg1;","outputs":1,"noerr":0,"x":240,"y":600,"wires":[["b234456b.88e768","611cac47.22bc24"]]},{"id":"b234456b.88e768","type":"debug","z":"d4c793e6.9fc878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":640,"wires":[]},{"id":"611cac47.22bc24","type":"function","z":"d4c793e6.9fc878","name":"write query","func":"var timestamp=msg.payload.timestamp;\nvar sensor=msg.payload.sensor;\nvar temperature=msg.payload.temperature;\nvar humidity=msg.payload.humidity;\n//put data into json string\n\nmsg=\"( timestamp,sensor,temperature,humidity) values(\"+timestamp +\",\\'\"+sensor +\"\\',\" + temperature + \",\" + humidity +\")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["390d935a.c116cc","3224fc85.9fedfc"]]},{"id":"390d935a.c116cc","type":"debug","z":"d4c793e6.9fc878","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":440,"wires":[]},{"id":"c6a833e6.b86588","type":"function","z":"d4c793e6.9fc878","name":"Insert using variable","func":"var sensor=\"sensor5\";\nmsg=\"( timestamp,sensor,temperature,humidity) values(4,\"+\"\\'\"+sensor +\"\\'\" + \",20,66)\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\n\nreturn msg1;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["930eca7.6cbf3b8","59694bd5.058914"]]},{"id":"59694bd5.058914","type":"debug","z":"d4c793e6.9fc878","name":"insert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":120,"wires":[]},{"id":"8e83e179.052dc","type":"sqlite","z":"d4c793e6.9fc878","mydb":"45b50000.4b0b6","sqlquery":"msg.topic","sql":"","name":"","x":410,"y":20,"wires":[["66810312.063054"]]},{"id":"6a7d710d.7a196","type":"catch","z":"d4c793e6.9fc878","name":"","scope":null,"uncaught":false,"x":100,"y":780,"wires":[["17de9da4.e6f9f2","5fed3e83.810188"]]},{"id":"17de9da4.e6f9f2","type":"debug","z":"d4c793e6.9fc878","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":820,"wires":[]},{"id":"59b4032d.631f24","type":"ui_text","z":"d4c793e6.9fc878","group":"e9a7eebb.9bb22","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":740,"wires":[]},{"id":"3224fc85.9fedfc","type":"delay","z":"d4c793e6.9fc878","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":560,"wires":[["930eca7.6cbf3b8"]]},{"id":"5fed3e83.810188","type":"function","z":"d4c793e6.9fc878","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":720,"wires":[["59b4032d.631f24"]]},{"id":"ec4fba6c.54caa","type":"inject","z":"d4c793e6.9fc878","name":"Drop Table","topic":"drop table data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":180,"wires":[["930eca7.6cbf3b8"]]},{"id":"4e934d6c.d3117c","type":"inject","z":"d4c793e6.9fc878","name":"insert","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["bb473f80.72bdc"]]},{"id":"93c22bea.2b3db","type":"function","z":"d4c793e6.9fc878","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":960,"wires":[[]]},{"id":"78f61548.a50694","type":"inject","z":"d4c793e6.9fc878","name":"clear errors","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":920,"wires":[["93c22bea.2b3db"]]},{"id":"db458539.605248","type":"inject","z":"d4c793e6.9fc878","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1360,"wires":[["52bde69.5e75898"]]},{"id":"52bde69.5e75898","type":"function","z":"d4c793e6.9fc878","name":"","func":"var data={};\ndata[\"temp\"]=20;\ndata[\"humidity\"]=50;\njson_out=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1400,"wires":[[]]},{"id":"e9a7eebb.9bb22","type":"ui_group","z":"","name":"Sensors","tab":"f97036a7.2d5098","order":1,"disp":true,"width":"12","collapse":false},{"id":"45b50000.4b0b6","type":"sqlitedb","z":"","db":"c:\\users\\steve\\.node-red\\test.db","mode":"RWC"},{"id":"f97036a7.2d5098","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]