include/OTHER/Node-Red MM Flows 12_28_2020/other Tests.json
[{"id":"5666e00a.3c5d8","type":"tab","label":"other Tests","disabled":false,"info":""},{"id":"211ab8e3.b94938","type":"inject","z":"5666e00a.3c5d8","name":"JSON String","topic":"","payload":"{ \"name\":\"John\", \"age\":30, \"car\":null } ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["d4591f60.19539"]]},{"id":"d4591f60.19539","type":"json","z":"5666e00a.3c5d8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":100,"wires":[["26bca1e2.92cb86"]]},{"id":"26bca1e2.92cb86","type":"debug","z":"5666e00a.3c5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":100,"wires":[]},{"id":"bf94161f.79b73","type":"inject","z":"5666e00a.3c5d8","name":"Object","topic":"","payload":"{ \"name\":\"John\", \"age\":30, \"car\":null } ","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["2b96ed32.ee99da"]]},{"id":"2b96ed32.ee99da","type":"json","z":"5666e00a.3c5d8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["5bfb753e.44c8b4"]]},{"id":"5bfb753e.44c8b4","type":"debug","z":"5666e00a.3c5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":140,"wires":[]},{"id":"f5704233.1bcc6","type":"inject","z":"5666e00a.3c5d8","name":"","topic":"PMI_Due","payload":"{\"UnitID\":\"BT-109F\",\"Note\":\"Hours overdue:\",\"Overdue_by\":23,\"Triggered_by\":\"HourMeter\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["14296fbd.a6cdf"]]},{"id":"31fea7de.0c23a8","type":"e-mail","z":"5666e00a.3c5d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":790,"y":220,"wires":[],"info":"The Password for this email is a Google APP Password. It is not the normal sign in password. (Look up Google App Password for further information)"},{"id":"14296fbd.a6cdf","type":"function","z":"5666e00a.3c5d8","name":"Contacts query","func":"msg.x = msg.payload;\n\nmsg.topic = \"Select Contacts.Email FROM Contacts WHERE Contacts.Status = 'PMI_Notify' LIMIT 3;\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["ec648163.c9b148"]]},{"id":"ec648163.c9b148","type":"sqlite","z":"5666e00a.3c5d8","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"SQLite","x":470,"y":220,"wires":[["b18019ee.6085a"]]},{"id":"b18019ee.6085a","type":"function","z":"5666e00a.3c5d8","name":"email","func":"\nvar len = msg.payload.length;\nvar temp = \"\";\n\nfor (var i = 0; i < len; i++) {\n  temp = temp + msg.payload[i].Email;\n  if(i+1 < len){\n      temp = temp + \",\";\n  }\n} \nmsg.topic = msg.x.UnitID + \" PMI due\";\nmsg.to = temp;\nmsg.payload = msg.x;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["31fea7de.0c23a8"]]},{"id":"74f23d10.ada034","type":"sqlitedb","z":"","db":"/home/sam/PlatformIO/dbExamples/MeterMaid.db","mode":"RWC"}]