Node_Red Flow.txt
[{"id":"44a06be1.1c4214","type":"tab","label":"MeterMaid","disabled":false,"info":""},{"id":"ccd27a99.87c278","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid.db","x":520,"y":60,"wires":[["4f7d3d9c.5660b4"]]},{"id":"57aaabb3.b4aff4","type":"function","z":"44a06be1.1c4214","name":"INSERT query","func":"//var value1= parseFloat(msg.payload);\nvar espid = (msg.payload);\n// replace myTable with your db table name \n//\"INSERT INTO <table_name> (<column_name>) VALUES (?)\";\"\nmsg.topic = \"INSERT INTO ESPModules(EspModule_ID) VALUES (?)\";\nmsg.payload = [espid];\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["ccd27a99.87c278"]]},{"id":"4f7d3d9c.5660b4","type":"debug","z":"44a06be1.1c4214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"7f335aaf.2ecdac","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"noConfig","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":80,"y":60,"wires":[["57aaabb3.b4aff4"]]},{"id":"b0a4afd0.ce0ae8","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid.db","x":400,"y":160,"wires":[["300bfdc6.b16eb2"]]},{"id":"5f7d133e.373a74","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"getConfig","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":80,"y":160,"wires":[["6ab0f387.87663c"]]},{"id":"6ab0f387.87663c","type":"function","z":"44a06be1.1c4214","name":"query","func":"//var value1= parseFloat(msg.payload);\n//flow.set([\"chipID\"], [msg.payload]);\nvar espid = (msg.payload);\n// In the query the symbol (?) is replaced by the message payload (ESP #)\nmsg.topic = \"SELECT ESPModules. ESPModule_ID, Equipment. UnitID, Equipment. PMI_Class, PMI_Class.PMI_Hrs, PMI_Class.PMI_Months FROM ESPModules INNER JOIN Equipment ON ESPModules.UnitID = Equipment.UnitID INNER JOIN PMI_Class ON Equipment.PMI_Class = PMI_Class.PMI_Class WHERE ESPModules.ESPModule_ID = (?);\"\nmsg.payload = [espid];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["b0a4afd0.ce0ae8"]]},{"id":"701e7ad1.946cac","type":"debug","z":"44a06be1.1c4214","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":160,"wires":[]},{"id":"7914ad92.67b26c","type":"mqtt out","z":"44a06be1.1c4214","name":"","topic":"","qos":"1","retain":"","broker":"5fafe60b.496968","x":810,"y":220,"wires":[]},{"id":"300bfdc6.b16eb2","type":"change","z":"44a06be1.1c4214","name":"ClientID-topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].ESPModule_ID","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["701e7ad1.946cac","7914ad92.67b26c"]]},{"id":"74f23d10.ada034","type":"sqlitedb","z":"","db":"/home/sam/PlatformIO/dbExamples/MeterMaid.db","mode":"RWC"},{"id":"5fafe60b.496968","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
