include/OTHER/MeterMaid_flow 12_28_2020.json
[{"id":"44a06be1.1c4214","type":"tab","label":"MeterMaid","disabled":false,"info":""},{"id":"ccd27a99.87c278","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid.db","x":520,"y":20,"wires":[["4f7d3d9c.5660b4"]]},{"id":"57aaabb3.b4aff4","type":"function","z":"44a06be1.1c4214","name":"INSERT query","func":"//var value1= parseFloat(msg.payload);\nvar espid = (msg.payload);\n// replace myTable with your db table name \n//\"INSERT INTO <table_name> (<column_name>) VALUES (?)\";\"\nmsg.topic = \"INSERT INTO ESPModules(EspModule_ID) VALUES (?)\";\nmsg.payload = [espid];\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":20,"wires":[["ccd27a99.87c278"]],"info":"noConfig"},{"id":"4f7d3d9c.5660b4","type":"debug","z":"44a06be1.1c4214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":20,"wires":[]},{"id":"7f335aaf.2ecdac","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"insertESP","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":80,"y":20,"wires":[["57aaabb3.b4aff4"]]},{"id":"b0a4afd0.ce0ae8","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid.db","x":440,"y":80,"wires":[["300bfdc6.b16eb2"]]},{"id":"5f7d133e.373a74","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"getConfig","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":80,"y":80,"wires":[["6ab0f387.87663c"]]},{"id":"6ab0f387.87663c","type":"function","z":"44a06be1.1c4214","name":"Select query","func":"//var value1= parseFloat(msg.payload);\n//flow.set([\"chipID\"], [msg.payload]);\nvar espid = (msg.payload);\n// In the query the symbol (?) is replaced by the message payload (ESP #)\nmsg.topic = \"SELECT ESPModules. ESPModule_ID, Equipment. UnitID, Equipment. PMI_Class, Equipment.Last_PMI, Equipment.Preset_Hrs, PMI_Class.PMI_Hrs, PMI_Class.PMI_Months FROM ESPModules INNER JOIN Equipment ON ESPModules.UnitID = Equipment.UnitID INNER JOIN PMI_Class ON Equipment.PMI_Class = PMI_Class.PMI_Class WHERE  Equipment.Last_PMI IS NOT NULL AND ESPModules.ESPModule_ID =(?);\"\nmsg.payload = [espid];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["b0a4afd0.ce0ae8"]]},{"id":"7914ad92.67b26c","type":"mqtt out","z":"44a06be1.1c4214","name":"","topic":"","qos":"1","retain":"","broker":"5fafe60b.496968","x":810,"y":80,"wires":[]},{"id":"300bfdc6.b16eb2","type":"change","z":"44a06be1.1c4214","name":"ClientID-topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].ESPModule_ID","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[["7914ad92.67b26c","8a577d96.28b818"]]},{"id":"e201b679.0225e8","type":"function","z":"44a06be1.1c4214","name":"outTopic","func":"//var outTopic = concat((msg.payload),\"/NOW\");\n//msg.topic = outTopic\nvar str1 = msg.payload;\nmsg.topic = str1;\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["bcd25002.5cecc8"]]},{"id":"fbf244a4.228e1","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"getTime","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":70,"y":300,"wires":[["e201b679.0225e8"]]},{"id":"bcd25002.5cecc8","type":"mqtt out","z":"44a06be1.1c4214","name":"","topic":"","qos":"","retain":"","broker":"5fafe60b.496968","x":770,"y":300,"wires":[]},{"id":"abf5bd7d.188bb","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid.db","x":520,"y":240,"wires":[["d65b69dd.027d9"]]},{"id":"c604806f.5c9a8","type":"function","z":"44a06be1.1c4214","name":"UPDATE query","func":"//var value1= parseFloat(msg.payload);\nvar unitID = (msg.payload);\n// replace myTable with your db table name \n//\"INSERT INTO <table_name> (<column_name>) VALUES (?)\";\"\nmsg.topic = \"UPDATE Equipment SET Preset_Hrs = -1, Note = \\\"(Confirmed)\\\" WHERE UnitID = (?)\";\nmsg.payload = [unitID];\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["abf5bd7d.188bb"]]},{"id":"d65b69dd.027d9","type":"debug","z":"44a06be1.1c4214","name":"Confirm_Config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":240,"wires":[]},{"id":"47e7d0b9.db1ec","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"confirmConfig","qos":"2","datatype":"auto","broker":"5fafe60b.496968","x":90,"y":240,"wires":[["c604806f.5c9a8"]]},{"id":"a0f59213.ecd3b8","type":"catch","z":"44a06be1.1c4214","name":"","scope":null,"uncaught":false,"x":80,"y":480,"wires":[["1f39f23b.da6f5e"]]},{"id":"1f39f23b.da6f5e","type":"debug","z":"44a06be1.1c4214","name":"Catch_Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":480,"wires":[]},{"id":"846d8cc2.1ec468","type":"mqtt in","z":"44a06be1.1c4214","name":"","topic":"PMI_due","qos":"2","datatype":"json","broker":"5fafe60b.496968","x":80,"y":360,"wires":[["2dfca670.127e42"]]},{"id":"2fcd3630.3a6a92","type":"debug","z":"44a06be1.1c4214","name":"PMI_Insert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":360,"wires":[]},{"id":"4a7b025c.f15d0c","type":"function","z":"44a06be1.1c4214","name":"PMI Insert","func":"var raw_data = msg.payload;\nvar temp = JSON.parse(msg.payload);\nvar unitid = temp.UnitID;\nvar note = temp.Note;\nvar over = temp.Overdue_by;\nvar trigger = temp.Triggered_by;\nvar lastpmi = temp.Last_PMI;\nvar hourmeter = temp.HourMeter;\n\nmsg.topic = \"INSERT INTO PMI_logs(UnitID, Last_PMI, HourMeter, Note, Overdue_by, Triggered_by) VALUES ('\" + unitid + \"', '\" + lastpmi + \"','\" + hourmeter + \"','\" + note + \"', \" + over + \", '\" + trigger + \"') ON CONFLICT(UnitID) WHERE Date_Completed IS NULL DO UPDATE SET Overdue_by = \" + over + \", Note = '\" + note + \"', HourMeter = '\" + hourmeter + \"';\"\n//msg.topic = \"INSERT INTO PMI_logs(UnitID, Note, Overdue_by, Triggered_by) VALUES ('\" + json.UnitID + \"', '\" + json.Note + \"', \" + json.Overdue_by + \", '\" + json.Triggered_by + \"') ON CONFLICT(UnitID) WHERE Date_Completed IS NULL DO UPDATE SET Overdue_by = \" + json.Overdue_by + \", Note = '\" + json.Note + \"';\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["145d6794.07ae7"]]},{"id":"2dfca670.127e42","type":"json","z":"44a06be1.1c4214","name":"","property":"payload","action":"","pretty":false,"x":230,"y":360,"wires":[["4a7b025c.f15d0c"]]},{"id":"145d6794.07ae7","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"MeterMaid","x":570,"y":360,"wires":[["2fcd3630.3a6a92"]]},{"id":"f036bdb5.6a426","type":"function","z":"44a06be1.1c4214","name":"Contacts query","func":"msg.x = msg.payload;\n\nmsg.topic = \"Select Contacts.Email FROM Contacts WHERE Contacts.Status = 'PMI_Notify' LIMIT 3;\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["49038f59.28b2d8"]]},{"id":"49038f59.28b2d8","type":"sqlite","z":"44a06be1.1c4214","mydb":"74f23d10.ada034","sqlquery":"msg.topic","sql":"","name":"SQLite","x":550,"y":420,"wires":[["7a0695b0.8affec"]]},{"id":"7a0695b0.8affec","type":"function","z":"44a06be1.1c4214","name":"email","func":"\nvar len = msg.payload.length;\nvar temp = \"\";\n\nfor (var i = 0; i < len; i++) {\n  temp = temp + msg.payload[i].Email;\n  if(i+1 < len){\n      temp = temp + \",\";\n  }\n} \nmsg.topic = msg.x.UnitID + \" PMI due\";\nmsg.to = temp;\nmsg.payload = msg.x;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["d50528fc.88bb8"]]},{"id":"8a577d96.28b818","type":"debug","z":"44a06be1.1c4214","name":"Get_Config","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":160,"wires":[]},{"id":"d50528fc.88bb8","type":"e-mail","z":"44a06be1.1c4214","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":830,"y":420,"wires":[]},{"id":"74f23d10.ada034","type":"sqlitedb","z":"","db":"/home/sam/PlatformIO/dbExamples/MeterMaid.db","mode":"RWC"},{"id":"5fafe60b.496968","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]