include/OTHER/Node-Red Documents/database-video2.txt
[{"id":"98f13840.58b4d8","type":"tab","label":"Database 2","disabled":false,"info":""},{"id":"6fe8b6a7.907a68","type":"ui_template","z":"98f13840.58b4d8","group":"d44d4f44.3219e8","name":"UI Table JSON","order":1,"width":"","height":"","format":"<style>\n.table\n{\n    height:400px;\n    width:700px;\n    background:lightblue;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th> \n    <th>SENSOR</th>\n    <th>RAW DATA (JSON)</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].SENSOR}}</td>\n    <td>{{msg.payload[$index].RAW_DATA}}</td>\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":60,"wires":[[]]},{"id":"44a03565.305934","type":"inject","z":"98f13840.58b4d8","name":"Test Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["2584959.d25fb6a"]]},{"id":"2584959.d25fb6a","type":"function","z":"98f13840.58b4d8","name":"test data","func":"var count=context.get('count');\nvar timestamp=context.get('timestamp');\n\nif (count==undefined)\n{\n    count=1;\n    timestamp=1;\n}\nvar data1={\"sensor\":\"sensor1\",\"temperature\":21,\"humidity\":61};\nvar data2={\"sensor\":\"sensor2\",\"temperature\":22,\"humidity\":62};\nvar data3={\"sensor\":\"sensor3\",\"temperature\":23,\"humidity\":63};\nif (count%20==0)\n    count=-count;\ndata1.temperature+=(count*.25);\n//data2.temperature+=(count*.5);\n//data3.temperature+=(count*.75);\ndata1.humidity+=(count*.25);\n//data2.humidity+=(count*.5);\n//data3.humidity+=(count*.75);\nmsg.payload=[data1];\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\ndata1.timestamp=timestamp;\ntimestamp+=1;\ndata2.timestamp=timestamp;\ntimestamp+=1;\ndata3.timestamp=timestamp;\n\nmsg1.payload=JSON.stringify(data1);\nmsg2.payload=JSON.stringify(data2);\nmsg3.payload=JSON.stringify(data3);\ntimestamp+=1;\ncount+=1;\ncontext.set('count',count);\ncontext.set('timestamp',timestamp);\nreturn [[msg1,msg2,msg3]];","outputs":1,"noerr":0,"x":240,"y":500,"wires":[["3af4e5d2.31e4f2","f087720a.3ddf28"]]},{"id":"f087720a.3ddf28","type":"function","z":"98f13840.58b4d8","name":"write query","func":"var raw_data=msg.payload;\nvar temp=JSON.parse(msg.payload);\nvar timestamp=temp.timestamp;\nvar sensor=temp.sensor;\nmsg=\"(timestamp,sensor,raw_data) values(\"+timestamp +\",\\'\"+sensor +\"\\'\"+ \",\\'\"+raw_data+\"\\'\"  +\")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["39888da8.d54ff2","a27001c1.a3a45"]]},{"id":"39888da8.d54ff2","type":"debug","z":"98f13840.58b4d8","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":340,"wires":[]},{"id":"3af4e5d2.31e4f2","type":"debug","z":"98f13840.58b4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":520,"wires":[]},{"id":"a27001c1.a3a45","type":"delay","z":"98f13840.58b4d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":440,"wires":[["ea1d616.84b4d2"]]},{"id":"ea1d616.84b4d2","type":"sqlite","z":"98f13840.58b4d8","mydb":"f5a33dc2.f6f08","sqlquery":"msg.topic","sql":"","name":"","x":570,"y":200,"wires":[[]]},{"id":"4acab269.6ca86c","type":"inject","z":"98f13840.58b4d8","name":"show RECORDS","topic":"SELECT * FROM DATA ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":230,"y":80,"wires":[["da6f5812.6c1bb8"]]},{"id":"da6f5812.6c1bb8","type":"sqlite","z":"98f13840.58b4d8","mydb":"f5a33dc2.f6f08","sqlquery":"msg.topic","sql":"","name":"","x":490,"y":60,"wires":[["6fe8b6a7.907a68"]]},{"id":"8d1e0f9a.f3003","type":"inject","z":"98f13840.58b4d8","name":"create database table","topic":"CREATE TABLE data(TIMESTAMP INT PRIMARY KEY NOT NULL, SENSOR TEXT NOT NULL,RAW_DATA TEXT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":140,"wires":[["ea1d616.84b4d2"]]},{"id":"d30b5239.dff668","type":"inject","z":"98f13840.58b4d8","name":"delete records","topic":"DELETE FROM DATA WHERE TIMESTAMP>=0","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":180,"wires":[["ea1d616.84b4d2"]]},{"id":"18c31a8c.11860d","type":"inject","z":"98f13840.58b4d8","name":"Drop Table","topic":"drop table data","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":240,"wires":[["ea1d616.84b4d2"]]},{"id":"d44d4f44.3219e8","type":"ui_group","z":"","name":"Sensors","tab":"34054411.bf9404","order":1,"disp":true,"width":"14","collapse":false},{"id":"f5a33dc2.f6f08","type":"sqlitedb","z":"","db":"c:\\users\\steve\\.node-red\\test.db","mode":"RWC"},{"id":"34054411.bf9404","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]